## Python

степень без функции

In [2]:
num = 32 ** 2
num

1024

In [3]:
import math

math.sqrt(num)

32.0

In [4]:
num ** 0.5

32.0

In [1]:

from dataclasses import dataclass


@dataclass
class Name:
    first: str
    last: str
    middle: str | None = None


@dataclass
class Person:
    age: int
    name: Name


name = Name("John", "Smith")
person = Person(age=42, name=name)

print(person)

Person(age=42, name=Name(first='John', last='Smith', middle=None))

In [2]:
person.name.first

'John'

In [3]:
person.name.last

'Smith'

In [4]:
person.age

42

In [5]:
from operator import attrgetter

get_age = attrgetter("age")
print(get_age)

operator.attrgetter('age')

In [6]:
get_age(person)

42

In [7]:
get_name = attrgetter("name")
get_name(person)

Name(first='John', last='Smith', middle=None)

In [8]:
get_fname = attrgetter("name.first")
get_fname(person)

'John'

In [9]:
get_fname = attrgetter("name.last")
get_fname(person)

'Smith'

In [10]:
n = attrgetter("name.first", "name.last")
n

operator.attrgetter('name.first', 'name.last')

In [11]:
n(person)

('John', 'Smith')

In [12]:
n_a = attrgetter("name.first", "name.last", "age")
n_a(person)

('John', 'Smith', 42)

In [34]:
from bisect import bisect, insort
from pprint import pprint

In [35]:
scores = [
    (100, 'perl'),
    (200, 'tcl'),
    (400, 'lua'),
    (500, 'python'),
]
pprint(scores, width=30)

[(100, 'perl'),
 (200, 'tcl'),
 (400, 'lua'),
 (500, 'python')]

In [33]:
insort(scores, (300, 'ruby'))
pprint(scores, width=30)

[(100, 'perl'),
 (200, 'tcl'),
 (300, 'ruby'),
 (300, 'ruby'),
 (400, 'lua'),
 (500, 'python')]

In [14]:
from dataclasses import dataclass
from pprint import pprint


@dataclass
class Movie:
    name: str
    released: int
    director: str


movies = [
    Movie('Jaws', 1975, 'Spielberg'),
    Movie('Titanic', 1997, 'Cameron'),
    Movie('The Birds', 1963, 'Hitchcock'),
    Movie('Aliens', 1986, 'Cameron'),
]
pprint(movies, width=40)

[Movie(name='Jaws',
       released=1975,
       director='Spielberg'),
 Movie(name='Titanic',
       released=1997,
       director='Cameron'),
 Movie(name='The Birds',
       released=1963,
       director='Hitchcock'),
 Movie(name='Aliens',
       released=1986,
       director='Cameron')]

In [15]:
# Find the first movie released after 1960
by_year = attrgetter('released')
movies.sort(key=by_year)
pprint(movies, width=40)

[Movie(name='The Birds',
       released=1963,
       director='Hitchcock'),
 Movie(name='Jaws',
       released=1975,
       director='Spielberg'),
 Movie(name='Aliens',
       released=1986,
       director='Cameron'),
 Movie(name='Titanic',
       released=1997,
       director='Cameron')]

In [16]:
from bisect import bisect, insort

In [24]:
bisect(movies, 1960, key=by_year)

0

In [26]:
bisect(movies, 1979, key=by_year)

2

In [27]:
bisect(movies, 1970, key=by_year)

1

In [28]:
movies[bisect(movies, 1979, key=by_year)]

Movie(name='Aliens', released=1986, director='Cameron')

In [29]:
romance = Movie('Love Story', 1970, 'Hiller')
insort(movies, romance, key=by_year)
pprint(movies, width=40)

[Movie(name='The Birds',
       released=1963,
       director='Hitchcock'),
 Movie(name='Love Story',
       released=1970,
       director='Hiller'),
 Movie(name='Jaws',
       released=1975,
       director='Spielberg'),
 Movie(name='Aliens',
       released=1986,
       director='Cameron'),
 Movie(name='Titanic',
       released=1997,
       director='Cameron')]

In [37]:
from operator import methodcaller

# Define a class representing a rectangle
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self, scale):
        return self.width * self.height * scale

# Create a rectangle object
rect = Rectangle(10, 20)

# Use methodcaller to call the area method with an additional argument
area_func = methodcaller("area", 3)
result = area_func(rect)

# Print the result
print(result)

600