In [1]:
# Python
# attrgetter
# operator

In [2]:
from dataclasses import dataclass


@dataclass
class Name:
    first: str
    last: str
    middle: str | None = None


@dataclass
class Person:
    age: int
    name: Name


name = Name("John", "Smith")
person = Person(age=42, name=name)

print(person)

Person(age=42, name=Name(first='John', last='Smith', middle=None))

In [3]:
person.name.first

'John'

In [4]:
person.name.last

'Smith'

In [5]:
person.age

42

In [6]:
from operator import attrgetter

get_age = attrgetter("age")
print(get_age)

operator.attrgetter('age')

In [7]:
get_age(person)

42

In [8]:
get_name = attrgetter("name")
get_name(person)

Name(first='John', last='Smith', middle=None)

In [9]:
get_fname = attrgetter("name.first")
get_fname(person)

'John'

In [10]:
get_lname = attrgetter("name.last")
get_lname(person)

'Smith'

In [11]:
n = attrgetter(
    "name.first", 
    "name.last",
)
n(person)

('John', 'Smith')

In [12]:
n_a = attrgetter(
    "name.first", 
    "name.last",
    "age",
)
n_a(person)

('John', 'Smith', 42)